<span>{{title}}</span>
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<app-header></app-header>
<app-food></app-food>
<!-- <form>
  <h1>Daily Goal: {{dailyGoalAmount}}</h1>
  <h2>Please enter daily exercise goal</h2>
  <input type="number" name="dailyGoalAmount" [(ngModel)]="dailyGoalAmount" (enter.keyup)="setDailyAmount(dailyGoalAmount)">

  <h2>Please enter calorie amount: {{calorieAmount}}</h2>
  <input name="calories" type="number" [(ngModel)]="calorieAmount" (enter.keyup)="setCalorieAmount(calorieAmount)">

  <h2>Please enter exercise amount: {{exerciseAmount}}</h2>
  <input name="exercise" type ="number" [(ngModel)]="exerciseAmount" (enter.keyup)="setExerciseAmount(exerciseAmount)">

  <h2>Please enter gender: {{gender}}</h2>
  <input name="gender" type="text" [(ngModel)]="gender" (enter.keyup)="setGender(gender)">

  <h2>Please enter age: {{age}}</h2>
  <input name="age" type="number" [(ngModel)]="age" (enter.keyup)="setAge(age)">
</form> -->